{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'tasks/style.css'%}">
    {% block extra_head %}
    {% endblock %}
    <title>
        {% block title %}

        {% endblock %}
    </title>
</head>
<body>
    <div class="topnav">
        <a href="home">Home</a>
        <a href="welcome">Welcome User</a>
        <a href="task_view">Tasks</a>
        <div class="topnav-right">
            <a href="register">Register</a>
            <a href="login">Login</a>
            <a href="logout"> Logout</a>
        </div>
    </div>

    <div class="landingimg">
        <div class="center">
            <pre>
            <h1> Hey Buddy!
            WELCOME</h1>
            </pre>

            <h1> "Its not enough to be busy, so are the ants"</h1>

            <h2> Get efficient with our Task Management App</h2>
        </div>
    </div>

    {% block body %}
    {% endblock %}

</body>
</html>